* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #247291;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}

.people-container {
    display: grid;
    justify-content: center;
    gap: 15px;
}

.person-info {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    background-color: linear-gradient(to left, #FFA500, #FFD700);
    width: 75vh;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: box-shadow 0.5s ease;
}

.person-info:hover {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

.person-name {
    background: linear-gradient(to right, #FFA500, #FFD700);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 3s ease;
}

.person-name:hover {
    background: linear-gradient(to right, #FFA500, #FFA500);
}

.attendance-options {
    display: flex;
    gap: 5px;
    margin-left: auto;
}

.attendance-radio {
    margin-left: 5px;
}

.submit-btn {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 75%;
    padding: 10px;
    background-color: #FFA500;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    padding-bottom: 10px;
}

.submit-btn:hover {
    background-color: #FFD700;
}
